<tr>                  
    <td>
        <%= obj["Company"] %>
    </td>                  
    <td>
        <%= formatAddress(obj) %><br />
        (<a href='http://maps.google.com/?q=<%= formatAddress(obj) %>' target='_blank'>Get directions</a>)
    </td> 
    <td>
        <%= obj["Title"] %>
    </td>                 
    <td>
        <%= obj["Company_url"] %>
    </td>
</tr>