<tr>                  
    <td>
        <%= obj["company"] %>
    </td>                  
    <td>
        <%= obj["street"] %><br />
        (<a href='http://maps.google.com/?q=<%= formatAddress(obj) %>' target='_blank'>Get directions</a>)
    </td> 
    <td>
        <%= obj["title"] %>
    </td>                 
    <td>
        <%= obj["Company_url"] %>
    </td>
</tr>